.mx-auto.py-4.w-full{:class => "md:w-10/12"}
  %h1.py-10 Boat Models
  = link_to 'New Boat Model', new_boat_model_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline no-underline'

  %table.table-auto.w-full
    %thead
      %tr
        %th.px-4.py-2 Name
        %th.px-4.py-2 Stock Number
        %th.px-4.py-2 Length
        %th.px-4.py-2 Max HP
        %th.px-4.py-2 Price of Hull Only
        %th.px-4.py-2 Price with Trailer & Hull
    %tbody
      - @boat_models.each do |boat_model|
        %tr
          %td.px-4.py-2
            = link_to boat_model do
              = boat_model.year
              = boat_model.name
              = boat_model.style
          %td.px-4.py-2= boat_model.stock_number
          %td.px-4.py-2= boat_model.length
          %td.px-4.py-2= boat_model.max_hp
          %td.px-4.py-2
            = number_to_currency(boat_model.price_hull) 
          %td.px-4.py-2
            = number_to_currency(boat_model.price_trailer_hull)
          %td.flex.space-x-4.py-2.flex.justify-end
            = link_to 'Edit', edit_boat_model_path(boat_model), class: 'bg-blue-500 text-white px-8 py-2 no-underline'
            = button_to 'Delete', boat_model_path(boat_model), method: :delete, data: { confirm: 'Are you sure?' }, class: 'bg-red-500 text-white px-8 py-2 no-underline'


.mx-auto.py-4.w-full{:class => "md:w-10/12"}
  = link_to 'New Boat Model', new_boat_model_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline no-underline'
