%h1 Boat Model Options

%h2 Standard Features
- @standard_features.each do |option|
  %p= option.name

%h2 Power Options
- @power_options.each do |option|
  %p= option.brand

%h2 Console Options
- @console_options.each do |option|
  %p= option.name

%h2 Factory Options
- @factory_options.each do |option|
  %p= option.name

%h2 Gauge Upgrades
- @gauge_upgrades.each do |option|
  %p= option.name

%h2 Seating Options
- @seating_options.each do |option|
  %p= option.name

%h2 Aluminum Options
- @aluminum_options.each do |option|
  %p= option.name

%h2 Lighting Options
- @lighting_options.each do |option|
  %p= option.name

%h2 Finishing Options
- @finishing_options.each do |option|
  %p= option.name

%h2 Cooler Options
- @cooler_options.each do |option|
  %p= option.name

%h2 Wetsound Packages
- @wetsound_packages.each do |option|
  %p= option.name

%h2 Additional Options
- @additional_options.each do |option|
  %p= option.name

%h2 Trailer Upgrades
- @trailer_upgrades.each do |option|
  %p= option.name
