= form_with(model: estimate, local: true, data: { controller: "options" }) do |form|
  - if estimate.errors.any?
    #error_explanation
      %h2.text-red-500= "#{pluralize(estimate.errors.count, "error")} prohibited this estimate from being saved:"
      %ul
        - estimate.errors.full_messages.each do |message|
          %li.text-red-500= message

  .grid.grid-cols-6.gap-4
    .col-span-2
      = image_tag 'waypoint.svg', alt:"Waypoint Marine"
    .col-start-5.col-span-2.text-right
      %h1.text-gray-500.mb-0 ESTIMATE
      %p.mb-0
        %strong WAYPOINT MARINE
        %br
        3033 S. Padre Island Dr.
        %br
        Corpus Christi, TX 78415
        %br
        361-651-2628
  %hr

  .grid.grid-cols-6.gap-4
    .col-span-4
      %h6 BILL TO
      %div{ data: { controller: "customer-select" } }
        = form.select :customer_id, options_for_select([["Select a customer", ""]].concat(Customer.all.map { |c| [c.full_name, c.id] })),
                      {},
                      data: { action: "change->customer-select#loadCustomerInfo", url: estimates_customer_path(":id"), customer_select_target: "customerSelect" },
                      id: "customer-select"


        %h6.font-bold.uppercase
          %span{ "data-customer-select-target" => "first_name" }= @estimate.customer&.first_name
          %span{ "data-customer-select-target" => "last_name" }= @estimate.customer&.last_name
        %h6.font-bold Address:
        %p-5
          %span{ "data-customer-select-target" => "address" }= @estimate.customer&.address
          ,
          %span{ "data-customer-select-target" => "city" }= @estimate.customer&.city
          ,
          %span{ "data-customer-select-target" => "state" }= @estimate.customer&.state
          ,
          %span{ "data-customer-select-target" => "zip" }= @estimate.customer&.zip

        %h6
          %span.font-bold Email: 
          %span{ "data-customer-select-target" => "email" }= @estimate.customer&.email
        %h6
          %span.font-bold Phone: 
          %span{ "data-customer-select-target" => "phone" }= number_to_phone(@estimate.customer&.phone)







    .col-span-2.text-right
      %h6
        Estimate Number:
        = @estimate.id
        %br/
        Salesperson:
        %br/
        P.O. Number:
        = form.text_field :po_name
        %br/
        Estimate Date:
        //= form.date_field :date_contacted, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

      .bg-gray-100.p-5
        %h6.font-bold.uppercase
          Grand Total :

  %hr          

  .grid.grid-cols-6.gap-4
    .col-span-6
      %div{ data: { controller: "options" } }
        = form.select :boat_model_id, BoatModel.all.map { |m| [m.boat_full_name, m.id] }, { prompt: 'Select a boat' }, data: { action: "change->options#loadBoatModelOptions", options_target: "boatModelId" }

        - if @boat_model
          %h4 Standard Features:
          %span{ "data-options-target": "standard_features" }
            - @boat_model.standard_features.each do |option|
              %span 
                = option.name
                •
          %hr
          %h4 Power Options:
          .mb-2.5
            %span{ "data-options-target": "power_options" }
              - @boat_model.power_options.each do |option|
                = check_box_tag 'estimate[power_options_ids][]', option.id, @estimate.power_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.year
                  = option.engine_make
                = option.model_number
                %span.float-right
                  = number_to_currency(option.price)
                %br

          %hr

          %h4 Console Options:
          .mb-2.5
            %span{ "data-options-target": "console_options" }
              - @boat_model.console_options.each do |option|
                = check_box_tag 'estimate[console_options_ids][]', option.id, @estimate.console_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Factory Options:
          .mb-2.5
            %span{ "data-options-target": "factory_options" }
              - @boat_model.factory_options.each do |option|
                = check_box_tag 'estimate[factory_options_ids][]', option.id, @estimate.factory_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Gauge Upgrades:
          .mb-2.5
            %span{ "data-options-target": "gauge_upgrades" }
              - @boat_model.gauge_upgrades.each do |option|
                = check_box_tag 'estimate[gauge_upgrades_ids][]', option.id, @estimate.gauge_upgrade_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Seating Options:
          .mb-2.5
            %span{ "data-options-target": "seating_options" }
              - @boat_model.seating_options.each do |option|
                = check_box_tag 'estimate[seating_options_ids][]', option.id, @estimate.seating_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr
          %h4 Aluminum Options:
          .mb-2.5
            %span{ "data-options-target": "aluminum_options" }
              - @boat_model.aluminum_options.each do |option|
                = check_box_tag 'estimate[aluminum_options_ids][]', option.id, @estimate.aluminum_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Lighting Options:
          .mb-2.5
            %span{ "data-options-target": "lighting_options" }
              - @boat_model.lighting_options.each do |option|
                = check_box_tag 'estimate[lighting_options_ids][]', option.id, @estimate.lighting_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Finishing Options:
          .mb-2.5
            %span{ "data-options-target": "finishing_options" }
              - @boat_model.finishing_options.each do |option|
                = check_box_tag 'estimate[finishing_options_ids][]', option.id, @estimate.finishing_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Cooler Options:
          .mb-2.5
            %span{ "data-options-target": "cooler_options" }
              - @boat_model.cooler_options.each do |option|
                = check_box_tag 'estimate[cooler_options_ids][]', option.id, @estimate.cooler_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Wetsound Packages:
          .mb-2.5
            %span{ "data-options-target": "wetsound_packages" }
              - @boat_model.wetsound_packages.each do |option|
                = check_box_tag 'estimate[wetsound_packages_ids][]', option.id, @estimate.wetsound_package_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Additional Options:
          .mb-2.5
            %span{ "data-options-target": "additional_options" }
              - @boat_model.additional_options.each do |option|
                = check_box_tag 'estimate[additional_options_ids][]', option.id, @estimate.additional_option_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr

          %h4 Trailer Upgrades:
          .mb-2.5
            %span{ "data-options-target": "trailer_upgrades" }
              - @boat_model.trailer_upgrades.each do |option|
                = check_box_tag 'estimate[trailer_upgrades_ids][]', option.id, @estimate.trailer_upgrade_ids.include?(option.id), class:"mr-2.5"
                %span.font-bold.mr-2.5
                  = option.name
                = option.description
                %span.float-right
                  = number_to_currency(option.price)
                %br
          %hr
        - else
          %p No boat model selected.
  .actions
    = form.submit class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold my-5 py-2 px-4 rounded focus:outline-none focus:shadow-outline'
