= form_with(model: estimate, local: true, data: { controller: "options" }) do |form|
  - if estimate.errors.any?
    #error_explanation
      %h2.text-red-500= "#{pluralize(estimate.errors.count, "error")} prohibited this estimate from being saved:"
      %ul
        - estimate.errors.full_messages.each do |message|
          %li.text-red-500= message

  .grid.grid-cols-6.gap-4
    .col-span-2
      = image_tag 'waypoint.svg', alt:"Waypoint Marine"
    .col-start-5.col-span-2.text-right
      %h1.text-gray-500.mb-0 ESTIMATE
      %p.mb-0
        %strong WAYPOINT MARINE
        %br
        3033 S. Padre Island Dr.
        %br
        Corpus Christi, TX 78415
        %br
        361-651-2628
  %hr

  .grid.grid-cols-6.gap-4
    .col-span-4
      %h6 BILL TO
      = form.select :customer_id, Customer.all.map { |c| [c.first_name + " " + c.last_name, c.id] }, { }, { id: 'customer_select', class: 'shadow appearance-none border rounded w-full py-2 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', data: { action: "change->customer#updateInfo" } }


      .mt-3{ data: { target: "customer.info" } }
        - if @estimate.customer.present?
          %h6.font-bold.uppercase
            = @estimate.customer.first_name + " " + @estimate.customer.last_name
          %h6
            = @estimate.customer.address
            ,
            = @estimate.customer.city
            ,
            = @estimate.customer.state
            = @estimate.customer.zip
          %h6
            = @estimate.customer.email
            %br/
            = number_to_phone(@estimate.customer.phone)


    .col-span-2.text-right
      %h6
        Estimate Number:
        = @estimate.id
        %br/
        Salesperson:
        %br/
        P.O. Number:
        **INPUT**
        %br/
        Estimate Date:
        **INPUT**
        //= form.date_field :date_contacted, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

      .bg-gray-100.p-5
        %h6.font-bold.uppercase
          Grand Total :

  %hr          

  .grid.grid-cols-6.gap-4
    .col-span-6
      %p
        = form.select :boat_model_id, BoatModel.all.map { |b| [b.name, b.id] }, { }, { class: 'shadow appearance-none border rounded w-full py-2 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', data: { action: "change->options#updateOptions", options_target: "boatModelSelect" } }
      %h4 Standard Features:
      - if @boat_model
        - @boat_model.standard_features.each do |option|
          •
          = label_tag dom_id(option), option.name
          
  %hr

  .grid.grid-cols-6.gap-4
    .col-span-3.mr-4
      %h4 Power Options:
      - if @boat_model
        - @boat_model.power_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[power_option_ids][]', option.id, @estimate.power_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.model_number
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.ml-4
      %h4 Console Options:
      - if @boat_model
        - @boat_model.console_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[console_option_ids][]', option.id, @estimate.console_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.mr-4
      %h4 Factory Options:
      - if @boat_model
        - @boat_model.factory_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[factory_option_ids][]', option.id, @estimate.factory_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.ml-4
      %h4 Gauge Upgrades:
      - if @boat_model
        - @boat_model.gauge_upgrades.each do |option|
          .mb-3
            = check_box_tag 'estimate[gauge_upgrade_ids][]', option.id, @estimate.gauge_upgrade_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.mr-4
      %h4 Seating Options:
      - if @boat_model
        - @boat_model.seating_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[seating_option_ids][]', option.id, @estimate.seating_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.ml-4
      %h4 Aluminum Options:
      - if @boat_model
        - @boat_model.aluminum_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[aluminum_option_ids][]', option.id, @estimate.aluminum_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.mr-4
      %h4 Lighting Options:
      - if @boat_model
        - @boat_model.lighting_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[lighting_option_ids][]', option.id, @estimate.lighting_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.ml-4
      %h4 Finishing Options:
      - if @boat_model
        - @boat_model.finishing_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[finishing_option_ids][]', option.id, @estimate.finishing_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.mr-4
      %h4 Cooler Options:
      - if @boat_model
        - @boat_model.cooler_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[cooler_option_ids][]', option.id, @estimate.cooler_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.ml-4
      %h4 Wetsound Packages:
      - if @boat_model
        - @boat_model.wetsound_packages.each do |option|
          .mb-3
            = check_box_tag 'estimate[wetsound_package_ids][]', option.id, @estimate.wetsound_package_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.mr-4
      %h4 Additional Options:
      - if @boat_model
        - @boat_model.additional_options.each do |option|
          .mb-3
            = check_box_tag 'estimate[additional_option_ids][]', option.id, @estimate.additional_option_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price

    .col-span-3.ml-4
      %h4 Trailer Upgrades:
      - if @boat_model
        - @boat_model.trailer_upgrades.each do |option|
          .mb-3
            = check_box_tag 'estimate[trailer_upgrade_ids][]', option.id, @estimate.trailer_upgrade_ids.include?(option.id), id: dom_id(option)
            = label_tag dom_id(option), option.name
            .float-right
              $
              = label_tag dom_id(option), option.price



  .actions
    = form.submit class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold my-5 py-2 px-4 rounded focus:outline-none focus:shadow-outline'
