%table.table-auto.w-full
  %thead
    %tr
      %th.px-4.py-2 Est#
      %th.px-4.py-2 Date
      %th.px-4.py-2 Customer Name
      %th.px-4.py-2 Boat
      %th.px-4.py-2 Total
  %tbody
    - @estimates.each do |estimate|
      %tr
        %td.px-4.py-2.text-sm
          = link_to estimate.id, estimate
        %td.px-4.py-2.text-sm
          = estimate.created_at.strftime("%m/%d/%Y")
        %td.px-4.py-2.text-sm
          = link_to estimate.customer.first_name + " " + estimate.customer.last_name, estimate.customer
        %td.px-4.py-2.text-sm
          = estimate.boat_model.year
          = estimate.boat_model.name
          = estimate.boat_model.style            
        %td.px-4.py-2.text-sm
          = number_to_currency(estimate.total_price)
        %td.flex.space-x-4.py-2.flex.justify-end.text-sm
          = link_to 'View', estimate, class: 'bg-green-500 text-white px-8 py-2 no-underline'