.mx-auto.py-4.w-full{:class => "md:w-10/12"}
  %h1.py-10 Estimates
  = link_to 'New Estimate', new_estimate_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline no-underline'

  %table.table-auto.w-full
    %thead
      %tr
        %th.px-4.py-2 Est#
        %th.px-4.py-2 Date
        %th.px-4.py-2 Customer Name
        %th.px-4.py-2 Boat
        %th.px-4.py-2 Power
        %th.px-4.py-2 Total
    %tbody
      - @estimates.each do |estimate|
        %tr
          %td.px-4.py-2
            = estimate.id
          %td.px-4.py-2 date
          %td.px-4.py-2= estimate.customer.first_name + " " + estimate.customer.last_name
          %td.px-4.py-2
            = estimate.boat_model.year
            = estimate.boat_model.name
            = estimate.boat_model.style            
          %td.px-4.py-2 Model num
          %td.px-4.py-2 Total Price
          //= number_to_currency(boat_model.price_trailer_hull)
          %td.flex.space-x-4.py-2.flex.justify-end
            = link_to 'View', estimate, class: 'bg-green-500 text-white px-8 py-2 no-underline'
            = link_to 'Edit', edit_estimate_path(estimate), class: 'bg-blue-500 text-white px-8 py-2 no-underline'
            = button_to 'Delete', estimate_path(estimate), method: :delete, data: { confirm: 'Are you sure?' }, class: 'bg-red-500 text-white px-8 py-2 no-underline'


.mx-auto.py-4.w-full{:class => "md:w-10/12"}
  = link_to 'New estimate', new_estimate_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline no-underline'


