= form_with(model: customer, local: true) do |form|
  - if customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - customer.errors.full_messages.each do |message|
          %li= message
  .grid.grid-cols-6.gap-4
    .col-span-1
      = form.label :first_name, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :first_name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-1
      = form.label :last_name, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :last_name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-2
      = form.label :email, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-1
      = form.label :phone, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :phone, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-2
      = form.label :address, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field  :address, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-1
      = form.label :address2, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :address2, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-1
      = form.label :city, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :city, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-1
      = form.label :state, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :state, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-1
      = form.label :zip, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :zip, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-1
      = form.label :date_contacted, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.date_field :date_contacted, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-1
      = form.label :location, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_field :location, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'

    .col-span-6
      = form.label :notes, class: 'block text-gray-700 text-sm font-bold mb-2'
      = form.text_area :notes, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', rows: 10


  = form.submit class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold my-5 py-2 px-4 rounded focus:outline-none focus:shadow-outline'
