.mx-auto.py-4.w-full{:class => "md:w-10/12"}
  %h1.py-10 Customers
  = link_to 'New Customer', new_customer_path, class: "px-4 py-2 bg-green-500 text-white rounded no-underline"

  %table.table-auto.w-full
    %thead
      %tr
        %th.px-4.py-2 Name
        %th.px-4.py-2 Date
        %th.px-4.py-2 Location
        %th.px-4.py-2 Email
        %th.px-4.py-2 Phone
        
    %tbody
      - @customers.each do |customer|
        %tr
          %td.px-4.py-2
            = link_to customer do
              = customer.first_name
              = customer.last_name
          %td.px-4.py-2= customer.date_contacted.strftime("%b %d, %Y")
          %td.px-4.py-2= customer.location
          %td.px-4.py-2= customer.email
          %td.px-4.py-2= customer.phone
          

          %td.flex.space-x-4.py-2.flex.justify-end
            = link_to 'Edit', edit_customer_path(customer), class: "bg-blue-500 text-white px-8 py-2 no-underline"
            = link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 text-white px-8 py-2 no-underline"

  = link_to 'New Customer', new_customer_path, class: "px-4 py-2 bg-green-500 text-white rounded no-underline"
