%h1.text-3xl.font-bold.mb-4= @customer.first_name + " " + @customer.last_name

%p.mb-2
  %strong Email:
  = @customer.email

%p.mb-2
  %strong Phone:
  = @customer.phone

%p.mb-2
  %strong Address:
  = @customer.address

= link_to 'Edit', edit_customer_path(@customer), class: "px-4 py-2 bg-yellow-500 text-white rounded mr-2"
= link_to 'Back', customers_path, class: "px-4 py-2 bg-blue-500 text-white rounded"
