.bg-gray-100.print-hidden
  .mx-auto.py-2.w-full{:class => "md:w-10/12"}
    .grid.grid-cols-3.md:grid-cols-9
      .col-span-2
        = link_to image_tag('waypoint.svg', alt:"Waypoint Marine"), root_path
      .col-start-8.col-span-2.text-xs
        .float-right.py-12
          - if user_signed_in?
            = link_to "Account Settings", edit_user_registration_path, class:"font-bold uppercase mr-3"
            = button_to 'Log out', destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-8 rounded uppercase focus:outline-none focus:shadow-outline no-underline"

          - else
            = link_to 'Sign In', new_user_session_path, class:"bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-8 rounded uppercase focus:outline-none focus:shadow-outline no-underline text-center"


.bg-gray-300.print-hidden
  .mx-auto.py-6.w-full{:class => "md:w-10/12"}
    .grid.grid-cols-6.gap-4
      .col-span-4
        = link_to 'Dashboard', root_path, class:"bg-gray-400 hover:bg-gray-500 text-black font-bold py-3 px-8 rounded uppercase focus:outline-none focus:shadow-outline no-underline text-center"
        = link_to 'Estimates', estimates_path, class:"bg-gray-400 hover:bg-gray-500 text-black font-bold py-3 px-8 rounded uppercase focus:outline-none focus:shadow-outline no-underline text-center"
        = link_to 'Boats', boat_models_path, class:"bg-gray-400 hover:bg-gray-500 text-black font-bold py-3 px-8 rounded uppercase focus:outline-none focus:shadow-outline no-underline text-center"
        = link_to 'Customers', customers_path, class:"bg-gray-400 hover:bg-gray-500 text-black font-bold py-3 px-8 rounded uppercase focus:outline-none focus:shadow-outline no-underline text-center"