!!!
%html
  %head
    %meta{:content => "#c82026", :name => "theme-color"}/
    %link{:href => "img/apple-icon.png", :rel => "apple-touch-icon"}>/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Waypoint Sales
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.prose.mx-auto.max-w-full
    - flash.each do |name, msg|
      = content_tag(:div, msg, class: "mb-0 p-4 text-center text-white font-bold uppercase bg-green-500")
    = render 'layouts/header'
    = yield
